JWT_SECRET=your_jwt_secret_key_here
JWT_ALGORITHM=HS256
MONGO_URI=mongodb+srv://ra664150:ragab111333@cluster0.ptwo1fr.mongodb.net/ecommerce?retryWrites=true&w=majority&appName=Cluster0
PORT=5000
FRONTEND_URL=http://localhost:3000
AUTH_URL=http://auth:4000
